replicaCount: 1

image:
  repository: satishgurram/python-cicd   # your public Docker Hub repo
  tag: "latest"                           # or your commit sha tag
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
