replicaCount: 3

image:
  repository: satishgurram/python-cicd
  tag: "3e7487f105d348aec78e5146d6274e3606bfb871"
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: acr-secret

service:
  type: ClusterIP
  port: 80
