replicaCount: 3

image:
  repository: gpatraining.azurecr.io/python-cicd
  tag: "bbb54bcbbb154d5ff407e051e4be7851a2eed602"
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: acr-secret

service:
  type: ClusterIP
  port: 80
