name: CI/CD ACR pipeline

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Set up Python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Setup Java
        uses: actions/setup-java@v5.2.0
        with:
          distribution: 'temurin'
          java-version: '17'
 
  
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v2
        with:
         args: >
          -Dsonar.projectKey=gurramsatish1_python-cicd-github-actions
          -Dsonar.organization=gurramsatish1
          -Dsonar.sources=src
        env:
         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
         SONAR_HOST_URL: https://sonarcloud.io/
 
      - name: SonarQube Quality Gate Check
        uses: SonarSource/sonarqube-quality-gate-action@v1.2.0
        timeout-minutes: 5
        env:
         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  docker:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Docker login (Azure)
        uses: docker/login-action@v3
        with:
          registry: gaptraiing.azurecr.io
          username: ${{ vars.AZURE_CLIENT_ID }}
          password: ${{ secrets.AZURE_CLIENT_SECRET }} 

      - name: Build and Push Docker Image
        run: |
          docker build -t gaptraiing.azurecr.io/python-cicd:${{ github.sha }} .
          docker push gaptraiing.azurecr.io/python-cicd:${{ github.sha }}
